body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:620px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:239px;
  width:228px;
  height:34px;
}
#u595_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u595_input:disabled {
  color:grayText;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:283px;
  width:228px;
  height:34px;
}
#u596_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u596_input:disabled {
  color:grayText;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:330px;
  width:228px;
  height:34px;
}
#u597_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u597_input:disabled {
  color:grayText;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:378px;
  width:229px;
  height:34px;
}
#u598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u598_input:disabled {
  color:grayText;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:30px;
  width:35px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
