body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background-image:none;
}
#u16_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:230px;
  width:323px;
  height:52px;
  color:#CCCCCC;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:244px;
  width:300px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:282px;
  width:323px;
  height:52px;
  color:#CCCCCC;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:296px;
  width:300px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:333px;
  width:323px;
  height:52px;
  color:#CCCCCC;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:348px;
  width:300px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6666FF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:353px;
  width:65px;
  height:15px;
  font-size:13px;
  color:#6666FF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:348px;
  width:78px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:406px;
  width:326px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:246px;
  width:224px;
  height:41px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:312px;
  width:224px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37_input:disabled {
  color:grayText;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:375px;
  width:224px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:438px;
  width:224px;
  height:30px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:31px;
  width:68px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:178px;
  width:171px;
  height:22px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u43_input:disabled {
  color:grayText;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:226px;
  width:159px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:290px;
  width:159px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:654px;
  visibility:hidden;
  background-image:none;
}
#u16_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:30px;
  width:56px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:360px;
  height:456px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:258px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u51_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:213px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u53_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:305px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u55_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:213px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u57_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:258px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u59_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:305px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u61_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:393px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u63_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:348px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u65_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:440px;
  width:100px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u67_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:348px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u69_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:393px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u71_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:440px;
  width:137px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u73_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:288px;
  width:159px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:226px;
  width:159px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:117px;
  width:300px;
  height:395px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:159px;
  width:104px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u83_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:197px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u85_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:234px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u87_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:272px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u89_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:309px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u91_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:347px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u93_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:384px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u95_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:422px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u97_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:28px;
  width:51px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:159px;
  width:104px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u100_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:197px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u102_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:234px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:272px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u106_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:309px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:347px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u110_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:384px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u112_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:422px;
  width:144px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u114_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  background-image:none;
}
#u16_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:27px;
  width:54px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:231px;
  width:168px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:293px;
  width:168px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
