body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:753px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:753px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:334px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u582 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:107px;
  width:334px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u583 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:199px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u584 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:248px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u585 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:367px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u586 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:416px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u587 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:307px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u588 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:479px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u589 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:529px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u590 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:587px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u591 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:637px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u592 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:686px;
  width:334px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
